.image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
label{
    margin-right: 390px;
    font-size: large;
}
.input{
    width: 25%;
    height: 30px;
}
#btn{
    text-align: center;
    width: 475px;
    height: 35px;
    background-color:#1eb12a;
    border: none;
}
#btn:hover{
    background-color: #219401;
}
.check{
    margin-right: 370px;    
}